body {
    overflow-x: hidden;
    background-color: black;
    color: #00aa00; /* Зеленый цвет текста */
    font-family: 'Courier New', Courier, monospace;
}

.container-fluid{
    max-width: 50%;
    text-align: center;
    margin-top: 300px;
}

.matrix {
    z-index: -1;
    position: absolute;/* Позволяет растянуть на всю высоту */
    top: 0;
    left: 0;
    width: 100%; /* Занимает всю ширину */
    height: 100vh; /* Занимает всю высоту видимой области */
    display: flex; /* Используем flex для столбцов */
}

.column {
    position: absolute;
    bottom: 100%;
    white-space: nowrap;
    font-size: 20px;
    animation: fall linear infinite;
    z-index: -1;
    max-height: 100%;
}

@keyframes fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}

.button-reload {
    text-decoration: none;
    color: white;
    border-radius: 40px;
    padding: 10px 20px;
    background-color: #00aa00;
    border-color: #595959;
    font-weight: 700;
    font-size: 20px;
}